<footer class="bg-dark-shade position-absolute bottom-0 d-md-none">
    <div>
        <div class="row g-0">
            <div class="col-12 d-flex justify-content-between py-2 text-white ">
                <div class="d-block text-center">
                    <div><i class="fa-solid fa-home"></i></div>
                    <div>Home</div>
                </div>

                <div class="d-block text-center">
                    <div><i class="fa-solid fa-home"></i></div>
                    <div>Live (27)</div>
                </div>

                <a href="{% url 'mybets' %}" class="text-decoration-none">
                    <div class="d-block text-center">
                        <div class="m-1"><span class="p-3 rounded-circle bg-warning text-black">10</span></div>
                        
                    </div>
                </a>

                <div class="d-block text-center">
                    <a href="{% url 'betslip' %}" class="text-decoration-none d-block">
                        <div><i class="fa-solid fa-home"></i></div>
                        <div>MY Bets</div>
                    </a>
                </div>

                <div class="d-block text-center">
                    <div><i class="fa-regular fa-user"></i></div>
                    <div class="text-whitesmoke">Profile</div>
                </div>
            </div>
        </div>
    </div>
</footer>