<header class="shadow-lg bg-navy-blue">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">

            <div class="d-none d-md-block bg-microsoft-blue">
                <nav class="navbar">
                    <div>
                      <button class="navbar-toggler border-yellow border-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="offcanvas offcanvas-start bg-sky-blue" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                          {% if user.is_authenticated %}
                          <h5 class="offcanvas-title"  id="offcanvasNavbarLabel">Username: {{ request.user.username }}, ID: {{ request.user.id }}.</h5>
                          {% else %}
                          <a href="{% url 'register' %}" class="btn rounded-3 py-1 me-1" role="button">Register</a>
                          {% endif %}
                          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                  
                        <div class="offcanvas-body bg-sky-blue p-3">
                          <div class="bg-navy-blue p-3 rounded-3">
                            <!-- SEARCH BAR WAS HERE -->
                            <p class="text-center text-yellow mt-2">Quick links</p>
                            <hr class="mt-0 text-white">
                            <ul class="navbar-nav justify-content-end flex-grow-1">
                              
                              <li class="nav-item list-unstyled">
                                <a class="nav-link text-white" href="#">Settings</a>
                              </li>
                              <li class="nav-item list-unstyled">
                                <a class="nav-link text-white" href="#">Home</a>
                              </li>
                              <li class="nav-item list-unstyled">
                                <a class="nav-link text-white" href="#">Link</a>
                              </li>
                              <li class="nav-item list-unstyled">
                                <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                              </li>
                              {% if user.is_authenticated %}
                              <li class="list-unstyled">
                                <a class="nav-link text-white" href="{% url 'mybets' %}">My bets</a>
                              </li>
                              {% endif %}
                              <li class="list-unstyled">
                                <a class="nav-link text-white" href="{% url 'check_ticket' %}">Check Ticket</a>
                              </li>
                              {% if user.is_authenticated %}
                              <li class="list-unstyled">
                                <a href="{% url 'deposit' %}" class="nav-link text-white text-decoration-none">
                                  <div role="button">Deposit</div>
                                </a>
                              </li>
                              <li class="list-unstyled">
                                <a href="{% url 'withdraw' %}" class="nav-link text-white text-decoration-none">
                                  <div role="button">Withdraw</div>
                                </a>
                              </li>

                              <form action="{% url 'logout' %}" method="POST">
                                {% csrf_token %}
                                <div class="row px-2">
                                  <button type="submit d-grid" class="btn header-btn logout px-4"><span class="me-2"><i class="fa-solid fa-arrow-right-from-bracket"></i></span> Logout</button>
                                </div>
                              </form>

                              {% else %}
                              <div class="row text-center px-2">
                                <a href="{% url 'login' %}" class="d-grid btn-yellow text-decoration-none rounded-2 py-1 px-4" role="button">Login</a>
                              </div>
                              {% endif %}

                              <hr class="text-sky-blue mb-2">
                              <div class="row">
                                <div class="fw-bold text-yellow text-center">Follow us on</div>
                                <i class="col-3 text-center fs-2 fa-brands fa-whatsapp p-2 text-success"></i>
                                <i class="col-3 text-center fs-2 fa-solid p-2 fa-brands fa-instagram text-danger"></i>
                                <i class="col-3 text-center fs-2 p-2 rounded-circle fa-brands fa-twitter text-primary"></i>
                                <i class="col-3 text-center fs-2 p-2 fa-brands fa-facebook text-primary"></i>
                                <div class="col-12 text-center copyright-year"></div>
                              </div>
                            </ul>

                          </div>
                        </div>
                      </div>
                    </div>
                </nav>
            </div>

            <div class="d-md-none">
             
            </div>

            <a href="{% url 'sports' %}" class="logo d-flex text-decoration-none">
              <span class="text-big text-linear-grad fw-bold italic">MOXBET</span>
            </a>

            <div class="d-none  col-md-6">
              <form class="d-flex" role="search">
                <input class="form-control me-2 pe-5" type="search" placeholder="Search Sports and Teams here" aria-label="Search">
                <button class="btn btn-yellow" type="submit">Search</button>
              </form>
            </div>
            
            {% if user.is_authenticated %}
            <div class="d-flex">
                <a href="{% url 'deposit' %}">
                    <div class="btn header-btn py-1 my-2" role="button">Deposit</div>
                </a>
                <div class=" text-end ms-2 py-1 text-white">
                    <span style="margin-bottom: -7px; margin-top: 2px;" class="text-small d-block">Balance</span>
                    <span class="text-small">{{currency_symbol}}<span id="user_balance">{{ user.balance|floatformat:2 }}</span></span>
                </div>  
            </div>

            {% else %}

            <div class="d-flex">
              <a href="{% url 'login' %}"  class="btn text-yellow py-1 fw-bold"> <!-- <i class="fa-solid fa-arrow-right-to-bracket me-1"></i> --> Login</a>  
              <a href="{% url 'register' %}" class="btn header-btn rounded-3 py-1 me-1" role="button"><!-- <i class="fa-regular fa-user me-1"></i> -->Register</a>
          </div>

          {% endif %}
           
        </div>
    </div>
</header>
