<nav class="navbar navbar-expand  p-0 bg-white">
    <div class="container-fluid">
        <ul id="main-navbar" class="navbar-nav me-auto overflow-auto mb-lg-0 ">

            <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0 top-nav-btn-active" aria-current="page" href="{% url 'sports' %}">
                    <div>
                        <img width="34" height="34" style="margin-bottom: -5px;" src="https://img.icons8.com/color/34/sports.png" alt="sports"/>
                    </div>
                    <div class="text-truncate text-small">Sports</div>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0" aria-current="page" href="{% url 'live' %}">
                    <div>
                        <img width="34" height="34" style="margin-bottom: -5px;" src="https://img.icons8.com/color/34/youtube-live.png" alt="youtube-live"/>
                    </div>
                    <div class="text-truncate text-small">Live</div>
                </a>
            </li>

             <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0" aria-current="page" href="{% url 'results' %}">
                    <div>
                        <img width="34" height="34" style="margin-bottom: -5px;" src="https://img.icons8.com/ink/34/-scoreboard-.png" alt="-scoreboard-"/>
                    </div>
                    <div class="text-truncate text-small">Results</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0" aria-current="page" href="{% url 'lucky_numbers' %}">
                    <div>
                        <img width="34" height="34" style="margin-bottom: -5px;" src="https://img.icons8.com/glyph-neue/34/lotto.png" alt="lotto"/>
                    </div>
                    <div class="text-truncate text-small">Lucky Numbers</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0" aria-current="page" href="#">
                    <div>
                        <img width="34" height="34" style="margin-bottom: -5px;" src="https://img.icons8.com/emoji/34/slot-machine-emoji--v2.png" alt="casino"/>
                    </div>
                    <div class="text-truncate text-small">Casino</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0" aria-current="page" href="#">
                    <div>
                        <img width="34" height="34" style="margin-bottom: -5px;" src="https://img.icons8.com/emoji/34/helicopter-emoji.png" alt="aviator"/>
                    </div>
                    <div class="text-truncate text-small">Aviator</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0" aria-current="page" href="#">
                    <div>
                        <img width="34" height="34" style="margin-bottom: -5px;" src="https://img.icons8.com/dotty/34/rocket.png" alt="fast-games"/>
                    </div>
                    <div class="text-truncate text-small">Fast games</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0" aria-current="page" href="#">
                    <div>
                        <img width="34" height="34" style="margin-bottom: -5px;" src="https://img.icons8.com/emoji/34/money-with-wings-emoji.png" alt="jackpots"/>
                    </div>
                    <div class="text-truncate text-small">Mox jackpots</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0" aria-current="page" href="#">
                    <div>
                        <img width="34" height="34" style="margin-bottom: -5px;" src="https://img.icons8.com/dotty/34/v.png" alt="virtual"/>
                    </div>
                    <div class="text-truncate text-small">Virtual</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0" aria-current="page" href="main.html">
                    <div>
                        <img width="34" height="34" style="margin-bottom: -5px;" src="https://img.icons8.com/color/34/cash-in-hand.png" alt="bonus"/>
                    </div>
                    <div class="text-truncate text-small">Sports</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0" aria-current="page" href="#">
                    <div>
                        <img width="34" height="34" style="margin-bottom: -5px;" src="https://img.icons8.com/glyph-neue/34/questions.png" alt="questions"/>
                    </div>
                    <div class="text-truncate text-small">How to</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0" aria-current="page" href="#">
                    <div>
                        <img width="34" height="34" style="margin-bottom: -5px;" src="https://img.icons8.com/3d-fluency/94/football2.png" alt="soccer">
                    </div>
                    <div class="text-truncate text-small">Soccer</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0" aria-current="page" href="#">
                    <div>
                        <img width="34" height="34" style="margin-bottom: -5px;"  src="https://img.icons8.com/emoji/34/basketball-emoji.png" alt="basketball"/>
                    </div>
                    <div class="text-truncate text-small">Basketball</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0" aria-current="page" href="#">
                    <div>
                        <img width="34" height="34" style="margin-bottom: -5px;" src="https://img.icons8.com/emoji/34/tennis-emoji.png" alt="tennis-emoji"/>
                    </div>
                    <div class="text-truncate text-small">Tennis</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0" aria-current="page" href="#">
                    <div>
                        <i class="fa-solid fa-football"></i>
                    </div>
                    <div class="text-truncate text-small">Horse racing</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link top-nav-item text-center py-0" aria-current="page" href="#">
                    <div>
                        <i class="fa-solid fa-football"></i>
                    </div>
                    <div class="text-truncate text-small">Fast games</div>
                </a>
            </li>
        
        </ul>
    </div>
</nav>
