
<div class="betslip-container max-width-600 mb-5">
    <div class="betslip-no-games-selected d-none">
        <div class="container-fluid mb-3">
            <div class="p-lead text-center"><strong>BETSLIP</strong></div>
        </div>

        <form action="" class="form-group text-center">
            <input type="text" id="booking-code" class="form-control-sm" placeholder="ENTER CODE HERE">
            <label for="booking-code" class="form-label rounded-1 bg-primary px-2 py-1">LOAD</label>
        </form>

        <div class="empty-betslip-picture text-center">
            <i class="fa-solid fa-receipt receipt-picture"></i>
        </div> 
    </div>

    <div class="betslip-some-games-selected">
        <div class="row container-fluid mb-3">
            <div class="col-6 text-center"><span class=" position-relative text-yellow">Betslip<span class="badge bg-yellow position-absolute start-100 ms-1 top-0 border border-light rounded-pill text-black" id="numberOfSelectedGames">0</span></span></div>
            <a href="{% url 'mybets' %}" class="col-6 text-center text-decoration-none text-yellow bg-sky-blue rounded-1">My bets</a>
        </div>

        <div class="beslip-type mb-2 mx-3">
            <div class="row">
                <div class="col-6 text-center">Combo</div>
                <div class="col-6 text-center text-bright-blue">Single</div>
            </div>
        </div>

        <ul class="list-unstyled games-in-a-ticket-list mb-0 mx-1"></ul>

        <div class="remove-all-selections border-top text-end py-2">Remove All<i class="fa-regular fa-trash-can ms-1"></i></div>

        <form class="row g-0">
            <div class="col-9"></div>
            <div class="input-group col-6">
            <span class="input-group-text fw-bold ms-2 px-1">USD</span>
            <input type="number" class="form-control ps-1" placeholder="Stake" id="input-stake" aria-label="Stake" aria-describedby="input-stake" readonly>
            </div>
        </form>
        <span class="text-small text-yellow mx-1">Minimun stake is <span class="coral">$ 1.00</span></span>                    

        <div class="bet-calculator mx-1">
            <div class="plus-calculator-btns d-flex justify-content-between my-1">
                <button type="button" onclick="ClearStakeInput()" class="bg-sky-blue border-0 text-black px-1 rounded-1">Clear</button>
                <button type="button" onclick="addToStakeInput('+1')" class="bg-sky-blue border-0 text-black px-3 rounded-1">+1</button>
                <button type="button" onclick="addToStakeInput('+5')" class="bg-sky-blue border-0 text-black px-3 rounded-1">+5</button>
                <button type="button" onclick="addToStakeInput('+10')" class="bg-sky-blue border-0 text-black px-2 rounded-1">+10</button>
                <button type="button" onclick="addToStakeInput('+50')" class="bg-sky-blue border-0 text-black px-2 rounded-1">+50</button>
            </div>
            <div class="calculator-btns d-flex ju g-1 row">
                <div class="col-2">
                    <button onclick="addTobetSlip('1')" class="bg-dark w-100 border-0 text-center text-white">1</button>
                </div>
                <div class="col-2">
                    <button onclick="addTobetSlip('2')" class="bg-dark w-100 border-0 text-center text-white">2</button>
                </div>
                <div class="col-2">
                    <button onclick="addTobetSlip('3')" class="bg-dark w-100 border-0 text-center text-white">3</button>
                </div>
                <div class="col-2">
                    <button onclick="addTobetSlip('4')" class="bg-dark w-100 border-0 text-center text-white">4</button>
                </div>
                <div class="col-2">
                    <button onclick="addTobetSlip('5')" class="bg-dark w-100 border-0 text-center text-white">5</button>
                </div>
                <div class="col-2">
                    <button onclick="addTobetSlip('.')" class="bg-dark w-100 border-0 text-center text-white">.</button>
                </div>
                <div class="col-2">
                    <button onclick="addTobetSlip('6')" class="bg-dark w-100 border-0 text-center text-white">6</button>
                </div>
                <div class="col-2">
                    <button onclick="addTobetSlip('7')" class="bg-dark w-100 border-0 text-center text-white">7</button>
                </div>
                <div class="col-2">
                    <button onclick="addTobetSlip('8')" class="bg-dark w-100 border-0 text-center text-white">8</button>
                </div>
                <div class="col-2">
                    <button onclick="addTobetSlip('9')" class="bg-dark w-100 border-0 text-center text-white">9</button>
                </div>
                <div class="col-2">
                    <button onclick="addTobetSlip('0')" class="bg-dark w-100 border-0 text-center text-white">0</button>
                </div>
                <div class="col-2">
                    <button onclick="deleteFromStakeInput()" class="bg-dark w-100 border-0 text-center text-white"><i class="fa-solid fa-delete-left"></i></button>
                </div>
            </div>

            <div class="betslip-summary border-top mt-1">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between" style="margin-bottom: -5px;">
                        <div class="text-start">Total odds</div>
                        <div class="text-end" id="total-odds"></div>
                    </div>
                    <div class="col-12 d-flex justify-content-between" style="margin-bottom: -5px;">
                        <div class="text-start">Win bonus</div>
                        <div class="text-end">USD<span class="ms-1" id="win-boost"></span></div>
                    </div>
                    <div class="col-12 max-win-div d-flex justify-content-between" style="margin-bottom: -5px;">
                        <div class="text-start">Maximum payout</div>
                        <div class="text-end">USD<span class="ms-1" id="max-win"></span></div>
                    </div>
                </div>
            </div>

            <div class="submit-buttons row g-0 d-flex justify-content-between mt-2">
                <div class="col-6 pe-1 d-grid">
                    <button class="bg-sky-blue text-black rounded-1 border-0">Book a bet</button>
                </div>
                <div class="col-6 ps-1 d-grid">
                    <button class="bg-yellow text-black rounded-1 border-0">Place a bet</button>
                </div>
            </div>
        </div>
    </div>
</div>
